@font-face {
    font-family: Canopee;
    src: url(./fonts/Canopee.ttf);
}
@font-face {
    font-family: Domain;
    src: url(./fonts/DomaineDispCondMedium.ttf);
}
@font-face {
    font-family: Editorial;
    src: url(./fonts/EditorialNew-Light.ttf);
}
@font-face {
    font-family: Dynasty;
    src: url(./fonts/Dynasty\ Fantazy\ Demo.ttf);
}
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}
html, body{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    background-color: #c5beb4;
}

.nav img{
    height: 40px;
    width: 150px;
}
.canopee{
    font-family: Canopee;
}
.domain{
    font-family: Domain;
}
.editorial{
    font-family: Editorial;
}
.dynasty{
    font-family: Dynasty;
}
.line-h{
    line-height: 9vw;
}
.line-hp{
    line-height: 3vw;
}
.line-hh{
    line-height: 7.9vw;
}
